
{% for n in news %}
    <div class="col-12 col-lg-6 mb-4 {% if loop.index > 4  %}d-none d-lg-block{% endif %}">
        <div class="d-block block-shadow border-radius overflow-hidden">
            {% for img in n.news_images.all() %}
                <div class="news-img-wrap"
                     style="background: url('{{ img.image.url }}') 0 0 no-repeat;
                             background-size: cover;">
                </div>
            {% endfor %}
            <div class="news-wrap">
                <div class="news-header font-weight-bold fs-16">
                    <a href="{{ url('news:news_item', args=[n.id]) }}">{{ n.title }}</a>
                </div>
                <span class="news-date">
                    <i class="calendar mr-2"></i>
                    <span>{{ format_date(n.created_at, 3) }}</span>
                </span>
            </div>
        </div>
    </div>
{% endfor %}
