<header>
    <div class="bg_gradient pt-2 pb-2">
        <div class="container d-flex justify-content-between align-items-center">
            <div>
                <div class="d-flex align-items-center">
                    <a href="{{ url('index') }}" class="logo mr-3 mr-sm-5">
                        <img src="{{ static('img/icons/logo_icon.svg') }}" width="30px" height="40px" alt="logo">
                    </a>
                    <div class="d-none d-lg-flex align-items-center">
                        <span class="text-white pr-3 fs-16">Перезвоните мне</span>
                        <div class="pt-2">
                            <svg width="57" height="65" viewBox="0 0 57 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g filter="url(#filter0_d)">
                                <path d="M20 22C20 18.6863 22.6863 16 26 16H31C34.3137 16 37 18.6863 37 22V35C37 38.3137 34.3137 41 31 41H26C22.6863 41 20 38.3137 20 35V22Z" fill="white"/>
                                </g>
                                <rect x="16.5" y="16.5" width="24" height="24" rx="5.5" fill="#FAFAFC" stroke="#E2E5EC"/>
                                <path d="M32.7918 30.2743C32.2066 30.2743 31.632 30.1827 31.0874 30.0028C30.8206 29.9118 30.4926 29.9953 30.3297 30.1625L29.2549 30.9739C28.0085 30.3085 27.2407 29.541 26.5844 28.3039L27.3719 27.2571C27.5765 27.0528 27.6499 26.7543 27.562 26.4743C27.3813 25.9269 27.2894 25.3525 27.2894 24.767C27.2895 24.3441 26.9454 24 26.5225 24H24.767C24.3441 24 24 24.3441 24 24.767C24 29.6149 27.9439 33.5588 32.7918 33.5588C33.2147 33.5588 33.5588 33.2147 33.5588 32.7918V31.0412C33.5588 30.6183 33.2147 30.2743 32.7918 30.2743Z" fill="#081223"/>
                            </svg>
                        </div>
                    </div>

                    <div class="dropdown d-none d-lg-block">
                        <span id="phones" class="d-flex align-items-center dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="text-white pr-2 fs-16">+38 050 900 00 00</span>
                            <i class="arr-down"></i>
                        </span>
                        <div class="dropdown-menu border-0 p-0" aria-labelledby="phones">
                            <ul class="list-unstyled m-0 p-4" style="width: 200px">
                                <li class="mb-3 pb-3" style="border-bottom: 1px solid #c4c4c4;">
                                    <a class="fs-16" href="tel:+380509000000">+38 050 900 00 00</a>
                                </li>
                                <li>
                                    <a class=" fs-16" href="tel:+380509000000">+38 050 900 00 00</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex align-items-center">
                <a class="d-flex align-items-center button_short bg-light-1 color-dark" href="#">
                    <i class="enter"></i>
                    <span class="pl-2 fs-14">Вход</span>
                </a>
                <a class="button_short text-white bg-dark-2 ml-3 mr-lg-4 fs-14" href="#">Регистрация</a>

                <div class="dropdown d-none d-lg-block">
                    <span id="language_menu" class="d-flex align-items-center dropdown-btn" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                        {% if request.LANGUAGE_CODE == 'uk' %}
                            <i class="flag-ukr"></i>
                        {% else %}
                            <i class="flag-rus"></i>
                        {% endif %}
                    <span class="text-white pl-3 pr-2 fs-14 pt-1">{{ settings.LANGUAGES_VIEWS.get(request.LANGUAGE_CODE, '') }}</span>
                        <i class="arr-down mt-1"></i>
                    </span>
                    <div class="dropdown-menu border-0 p-0" aria-labelledby="language_menu">
                        {% for l in settings.LANGUAGES %}
                            {% if request.LANGUAGE_CODE != l[0] %}
                                <a href="/{{ l[0] }}{{ request.path[3:] }}" class="item d-flex align-items-center justify-content-center" style="width: 120px; height: 54px;">
                                    {% if request.LANGUAGE_CODE == 'ru' %}
                                        <i class="flag-ukr"></i>
                                        {% else %}
                                        <i class="flag-rus"></i>
                                    {% endif %}
                                    <span class="pl-3">
                                        {{ settings.LANGUAGES_VIEWS.get(l[0], '') }}
                                    </span>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
        <nav class="container navbar navbar-expand-lg border-0 pt-0 pb-0">
            <div class="navbar-brand d-flex d-lg-none align-items-center">
                <span class="fs-16 pr-2">Меню</span>
                <i class="menu-arrow"></i>
                <span class="fs-16 pl-2">
                {% if request.path == '/ru/' %}
                    Главная
                    {% elif request.path.split('/')[2] == 'search' %}
                    Льготы и Субсидии
                    {% elif request.path.split('/')[2] == 'institutions' %}
                    Учреждения
                    {% elif request.path.split('/')[2] == 'about' %}
                    О проекте
                    {% elif request.path.split('/')[2] == 'news' %}
                    Новости
                    {% elif request.path.split('/')[2] == 'feedback' %}
                    Обратная связь
                {% endif %}
                </span>
            </div>
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="main-menu flex-column flex-lg-row list-unstyled d-flex justify-content-between mb-0 w-100">
                    {% set menu_url = url('index') %}
                    <li class="list-item {% if menu_url == request.path %}active{% endif %}">
                        <a class="item" href="{{ url('index') }}">Главная</a>
                    </li>
                    {% set menu_url = url('search') %}
                    <li class="list-item {% if menu_url == request.path %}active{% endif %}">
                        <a class="item" href="{{ url('search') }}">Льготы и Субсидии</a>
                    </li>
                    {% set menu_url = url('institutions') %}
                    <li class="list-item {% if menu_url == request.path %}active{% endif %}">
                        <a class="item" href="{{ url('institutions') }}">Учреждения</a>
                    </li>
                    {% set menu_url = url('about') %}
                    <li class="list-item {% if menu_url == request.path %}active{% endif %}">
                        <a class="item" href="{{ url('about') }}">О проекте</a>
                    </li>
                    {% set menu_url = url('news:index') %}
                    <li class="list-item {% if menu_url == request.path %}active{% endif %}">
                        <a class="item" href="{{ url('news:index') }}">Новости</a>
                    </li>
                    {% set menu_url = url('feedback') %}
                    <li class="list-item {% if menu_url == request.path %}active{% endif %}">
                        <a class="item" href="{{ url('feedback') }}">Обратная связь</a>
                    </li>
                </ul>
            <div class="d-md-none row d-flex align-items-center m-0 mob-additional">
                <span class="col-12 p-0 fs-16">Перезвоните мне</span>
                <div class=" col-8 p-0">
                    <div class="dropdown">
                        <span id="phones_mob" class="d-flex align-items-center dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="pr-2 fs-16">+38 050 900 00 00</span>
                            <i class="arr-down"></i>
                        </span>
                        <div class="dropdown-menu border-0 p-0 position-relative" aria-labelledby="phones_mob">
                            <ul class="list-unstyled m-0 p-4" style="width: 200px">
                                <li class="mb-3 pb-3" style="border-bottom: 1px solid #c4c4c4;">
                                    <a class="fs-16" href="tel:+380509000000">+38 050 900 00 00</a>
                                </li>
                                <li>
                                    <a class=" fs-16" href="tel:+380509000000">+38 050 900 00 00</a>
                                </li>
                            </ul>
                        </div>
                    </div>
{#                    <div class="d-flex align-items-center">#}
{#                        <img class="" src="{{ static('img/icons/phone_square_icon.svg') }}" alt="">#}
{#                        <a class="pr-1 fs-16" href="tel:+380509000000">+38 050 900 00 00</a>#}
{#                        <i class="arr-down-black"></i>#}
{#                    </div>#}
                </div>
                <div class="col-4 p-0 ">
{#                    <div class="d-flex align-items-center">#}
{#                        <i class="flag-ukr"></i>#}
{#                        <span class="pl-3 pr-2 fs-14">Укр</span>#}
{#                        <i class="arr-down-black"></i>#}
{#                    </div>#}
                    <div class="dropdown">
                        <span id="language_menu_mob" class="d-flex align-items-center dropdown-btn" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                            {% if request.LANGUAGE_CODE == 'uk' %}
                                <i class="flag-ukr"></i>
                            {% else %}
                                <i class="flag-rus"></i>
                            {% endif %}
                        <span class="pl-3 pr-2 fs-14 pt-1">{{ settings.LANGUAGES_VIEWS.get(request.LANGUAGE_CODE, '') }}</span>
                            <i class="arr-down mt-1"></i>
                        </span>
                        <div class="dropdown-menu border-0 p-0 position-relative" aria-labelledby="language_menu_mob">
                            {% for l in settings.LANGUAGES %}
                                {% if request.LANGUAGE_CODE != l[0] %}
                                    <a href="/{{ l[0] }}{{ request.path[3:] }}" class="item d-flex align-items-center justify-content-center" style="width: 120px; height: 54px;">
                                        {% if request.LANGUAGE_CODE == 'ru' %}
                                            <i class="flag-ukr"></i>
                                            {% else %}
                                            <i class="flag-rus"></i>
                                        {% endif %}
                                        <span class="pl-3">
                                            {{ settings.LANGUAGES_VIEWS.get(l[0], '') }}
                                        </span>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </nav>

</header>
